@model IEnumerable<SurveySystem.Models.Question>
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int number = 1;
}

<div class="card">
    <div class="card-body">
        <div class="card-title text-center">Anket Cevaplama Sayfası</div>
        <hr>
        @using (Html.BeginForm("Create", "Answer"))
        {
            <div class="form-group">
                @Html.DropDownList("Code",(SelectList)ViewBag.Person,"Lütfen Kişi Seçiniz", new {@class="form-control"})
            </div>

            foreach (var item in Model)
            {
                <span style="font-weight:bold;">@number)</span>
                @item.QuestionLine
                <br />
                <br />
                <div class="icheck-material-primary icheck-inline">
                    <input type="radio" id="Id1_@item.Id" name="Id_@item.Id" checked="">
                    <label for="Id1_@item.Id">Evet</label>

                    <input type="radio" id="Id2_@number" name="Id_@item.Id">
                    <label for="Id2_@number">Hayır</label>
                </div>

                number++;
            }

            <div class="form-group">
                <button type="submit" class="btn btn-round btn-success shadow-success px-5"><i class="icon-lock"></i>Kaydet</button>
            </div>
        }

    </div>
</div>
